html {
  scroll-behavior: smooth;
}


/* Navbar Styling */

.navbar {
    width: 100%;
    background-color: transparent;
    overflow: auto;
    text-align: center;
  }
  
  /* Navbar links */
  .navbar li {
    display: inline-block;
    padding: 12px;
  }

  .navbar li a {
    display: inline-block;
    padding: 12px;
    color: rgb(150, 150, 150);
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Roboto';
    border-bottom: 2px solid transparent; /* <- here */
    transition: border-bottom 0.35s;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    border-bottom: 2px solid #FF9966;
    color: #FF9966;
  }


/* Introduction Styling */

.intro{
  padding-top: 5rem;
  padding-bottom: 6rem;
  text-align: center;
  font-family: 'Roboto';
}

.intro-hello{
  font-size: 6vw;
  margin: 0;
  color: #FF9966;
}

.typewriter {
  font-family: 'Roboto';
display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 3vw;
  font-weight: 700;
  border-right: 4px solid #FF9966;
  box-sizing: border-box;
  color: rgb(150, 150, 150)
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #FF9966; 
  }
}


/* Porfolio Styling */

.portfolio{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Roboto';
  text-align: center;
  font-size: 3vw;
  color: #FF9966;
  background-color: rgb(240, 240, 240);
}

.portfolio-card{
  display: flex;
  background-color: white;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.portfolio-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portfolio-image-wrapper {
  width: 60%;
  height: auto;
}

.portfolio-desc-wrapper {
  width: 40%;
  height: auto;
  font-family: 'Roboto';
  color: rgb(150, 150, 150);
  font-size: 1.5vw;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  align-items: center;
}

/* Mobile fomratting portfolio cards */
@media only screen and (max-width: 768px){
  .portfolio-card{
    flex-direction: column;
  }

  .portfolio-image-wrapper{
    width: 100%;
  }

  .portfolio-desc-wrapper{
    width: 100%;
    font-size: 2vw;
  }
}


/* Experience Styling */

.experience{
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-family: 'Roboto';
  text-align: center;
  font-size: 3vw;
  color: #FF9966;
  background-color: rgb(240, 240, 240);
}

.experience-card{
  display: flex;
  background-color: white;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.experience-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.experience-image-wrapper {
  width: 20%;
  height: auto;
}

.experience-desc-wrapper {
  width: 80%;
  height: auto;
  font-family: 'Roboto';
  color: rgb(150, 150, 150);
  font-size: 1.5vw;
}

.experience-desc-wrapper p{
  margin: 0;
  padding-top: 2vh;
  padding-left: 2vh;
  text-align: left;
}

.experience-desc-wrapper a{
  margin: 0;
  text-align: left;
  font-family: 'Roboto';
  font-size: 1.5vw;
  text-decoration: none;
  color: rgb(150, 150, 150);
  border-bottom: 2px solid transparent; /* <- here */
  transition: border-bottom 0.35s;
}

.experience-desc-wrapper a:hover{
  border-bottom: 2px solid #FF9966;
  color: #FF9966;
}

.experience-desc-wrapper li{
  margin: 0;
  text-align: left;
}

.experience-image {
  width: 100%;
  height: 10vw;
  align-items: center;
}

.education{
  padding-top: 5rem;
}

.education-image {
  padding-top: 2vh;
  padding-left: 2vh;
  padding-bottom: 2vh;
  width: 10vw;
  height: 10vw;
  align-items: center;
}


/* About Styling */

.about{
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-family: 'Roboto';
  text-align: center;
  font-size: 3vw;
  color: #FF9966;
  background-color: rgb(240, 240, 240);
}

.about-card{
  display: flex;
  background-color: white;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.about-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.about-image-wrapper {
  width: 30%;
  height: auto;
}

.about-desc-wrapper {
  width: 70%;
  height: auto;
  font-family: 'Roboto';
  color: rgb(150, 150, 150);
  font-size: 1.5vw;
  text-align: right;
  padding-top: 1.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.about-image {
  width: 100%;
  height: 100%;
  align-items: center;
}

.icon{
  font-size: 3vw;
  padding: 0.5vw;
  color: rgb(150, 150, 150);
  transition: 0.35s ease;
}

.icon:hover{
  color: #FF9966;
}