html {
  scroll-behavior: smooth;
}

.blur-overlay {
  filter: blur(1.5px);
}

.shell-wrap {
  width: 100%;
  height: 20vh;
  background-color: #141414;
}

.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

.shell-body {
  margin: 0;
  padding: 5px;
  height: auto;
  list-style: none;
  background: #141414;
  color: #FF9966;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}

/* Navbar Styling */

.navbar {
    width: 100%;
    background-color: #141414;
    overflow: auto;
    text-align: center;
  }

  .ext_navbar {
    width: 100%;
    background-image: linear-gradient(rgb(150,150,150), white);
    overflow: auto;
    text-align: left;
    display: flex;
  }

  .ext_navbar_text {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Roboto';
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
  }

  .ext_navbar_text Link{
    text-decoration: none;
  }

  .ext_navbar img {
    width: 3vw;
    height: 3vw;
    padding: 1vw;
    transition: 0.35s ease;
  }

  .ext_navbar img:hover {
    width: 4vw;
    height: 4vw;
  }
  
  /* Navbar links */
  .navbar li {
    display: inline-block;
    padding: 12px;
  }

  .navbar li a {
    display: inline-block;
    padding: 12px;
    color: rgb(150, 150, 150);
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Roboto';
    border-bottom: 2px solid transparent; /* <- here */
    transition: border-bottom 0.35s;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    border-bottom: 2px solid #FF9966;
    color: #FF9966;
  }


/* Introduction Styling */

.intro{
  padding-top: 5rem;
  padding-bottom: 6rem;
  text-align: center;
  font-family: 'Roboto';
}

.intro-hello{
  font-size: 6vw;
  margin: 0;
  color: #FF9966;
}

.typewriter {
  font-family: 'Roboto';
display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 2s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 3vw;
  font-weight: 700;
  border-right: 4px solid #FF9966;
  box-sizing: border-box;
  color: rgb(150, 150, 150)
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: #FF9966; 
  }
}


/* Porfolio Styling */

.portfolio{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Roboto';
  text-align: center;
  font-size: 3vw;
  color: #FF9966;
  background-color: rgb(240, 240, 240);
}

.portfolio-card{
  display: flex;
  background-color: white;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.portfolio-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portfolio-image-wrapper {
  width: 60%;
  height: auto;
  position: relative;
}

.image-overlay {
  background-color: rgba(240, 240, 240, 0.7);
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: opacity .5s;
}

.image-overlay:hover {
  opacity: 1;
  transition: opacity .5s;
}

.overlay-button-pci{
  margin-top: 8vw;
  width: 50%;
  height: 20%;
  font-family: 'Roboto';
  font-size: 1.5vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  background-color: white;
  color: rgb(150, 150, 150);
  transition: 0.35s ease;
}

.overlay-button-377{
  margin-top: 5.5vw;
  width: 50%;
  height: 20%;
  font-family: 'Roboto';
  font-size: 1.5vw;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  background-color: white;
  color: rgb(150, 150, 150);
  transition: 0.35s ease;
}

.overlay-button-pci:hover {
  color: #FF9966;
}

.overlay-button-377:hover {
  color: #FF9966;
}

.portfolio-desc-wrapper {
  width: 40%;
  height: auto;
  font-family: 'Roboto';
  color: rgb(150, 150, 150);
  font-size: 1.5vw;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


/* Experience Styling */

.experience{
  padding-top: 5vw;
  font-family: 'Roboto';
  text-align: center;
  font-size: 3vw;
  color: #FF9966;
  background-color: rgb(240, 240, 240);
}

.experience-card{
  display: flex;
  background-color: white;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.experience-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.experience-image-wrapper {
  width: 20%;
  height: auto;
}

.experience-desc-wrapper {
  width: 80%;
  height: auto;
  font-family: 'Roboto';
  color: rgb(150, 150, 150);
  font-size: 1.5vw;
}

.experience-desc-wrapper p{
  margin: 0;
  padding-top: 2vh;
  padding-left: 2vh;
  text-align: left;
}

.experience-desc-wrapper a{
  margin: 0;
  text-align: left;
  font-family: 'Roboto';
  font-size: 1.5vw;
  text-decoration: none;
  color: rgb(150, 150, 150);
  border-bottom: 2px solid transparent; /* <- here */
  transition: border-bottom 0.35s;
}

.experience-desc-wrapper a:hover{
  border-bottom: 2px solid #FF9966;
  color: #FF9966;
}

.experience-desc-wrapper li{
  margin: 0;
  text-align: left;
}

.experience-image {
  width: 100%;
  height: 10vw;
  align-items: center;
  border-top-left-radius: 5px;
}

.education{
  padding-top: 10vh;
}

.education-image {
  padding-top: 2vh;
  padding-left: 2vh;
  padding-bottom: 2vh;
  width: 10vw;
  height: 10vw;
  align-items: center;
}


/* About Styling */

.about{
  padding-top: 10vh;
  padding-bottom: 1rem;
  font-family: 'Roboto';
  text-align: center;
  font-size: 3vw;
  color: #FF9966;
  background-color: rgb(240, 240, 240);
}

.about-card{
  display: flex;
  background-color: white;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.about-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.about-image-wrapper {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.about-image-filler{
  height: 30%;
  padding-top: 50%;
}

.about-image-filler-bottom{
  height: 70%;
}

.about-desc-wrapper {
  width: 70%;
  height: auto;
  font-family: 'Roboto';
  color: rgb(150, 150, 150);
  font-size: 1.5vw;
  text-align: right;
  padding-top: 1.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.about-image {
  width: 100%;
  height: 100%;
  align-items: center;
  border-bottom-right-radius: 5px;
}

.icon{
  font-size: 3vw;
  padding: 0.5vw;
  color: rgb(150, 150, 150);
  transition: 0.35s ease;
}

.icon:hover{
  color: #FF9966;
}

/* Class List Styling */

.classlist {
  background-color: white;
}

.classlist-body{
  font-family: 'Roboto';
  font-size: 1.5vw;
  color: rgb(150, 150, 150);
  text-align: center;
  padding-bottom: 1.5vw;
}

.classlist-body-collapsible{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.classlist-body-collapsible:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.Collapsible{
  color: rgb(150, 150, 150);
  font-family: 'Roboto';
  font-size: 1.5vw;
  padding: 1vw;
  transition: 0.35s ease;
}

.Collapsible:hover {
  color: #FF9966;
  border-left: 2px solid #FF9966;
}

.Collapsible__contentInner{
  color: rgb(150, 150, 150);
  background-color: white;
  font-family: 'Roboto';
  font-size: 1.5vw;
  padding: 1vw;
}

/* Read More Page Styling */

.image-slider{
  width: 90vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
}

.read-more-content{
  padding-top: 10vh;
  font-family: 'Roboto';
  font-size: 1.5vw;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  color: rgb(150, 150, 150);
}

.read-more-content h1{
  font-family: 'Roboto';
  color: #FF9966;
  font-size: 3vw;
}

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .technologies {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .column {
    flex: 25%;
    padding: 20px;
    margin: 2vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Roboto';
    font-size: 1.5vw;
    color: rgb(150, 150, 150);
    transition: 0.35s ease;
  }

  .column:hover {
    transform: scale(1.1);
  }

  .column img {
    height: 3vw;
    width: 3vw;
    padding: 0.5vw;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 20%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: row;
    }

    .technologies{
      flex-direction: column;
    }

    .column {
      width: 20vw;
      font-size: 3vw;
    }

    .column img {
      height: 5vw;
      width: 5vw;
    }

    .read-more-content h1{
      font-size: 5vw;
    }

    .read-more-content{
      font-size: 3vw;
    }
  }

/* Mobile fomratting portfolio cards */
@media only screen and (max-width: 768px){

  .portfolio-card{
    flex-direction: column;
    margin-top: 5vh;
  }

  .portfolio-image-wrapper{
    width: 100%;
  }

  .portfolio-desc-wrapper{
    width: 100%;
    font-size: 2vw;
  }

  .overlay-button-pci{
    margin-top: 15.5vw;
    font-size: 2vw;
  }

  .overlay-button-377{
    margin-top: 10.5vw;
    font-size: 2vw;
  }

  .intro{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }

  .experience-card{
    margin-top: 5vh;
  }

  .education{
    padding-top: 5vh;
  }

  .about{
    padding-top: 5vh;
  }

  .about-card{
    margin-top: 5vh;
  }

  .navbar{
    height: 10vh;
  }

  .ext_navbar img {
    width: 5vw;
    height: 5vw;
    padding: 1vw;
    transition: 0.35s ease;
  }

  .ext_navbar img:hover {
    width: 7vw;
    height: 7vw;
  }

  .Collapsible{
    font-size: 2vw;
  }

  .Collapsible__contentInner{
    font-size: 2vw;
  }
}